.payme {
    background: inline('../img/bg-form.png') 0 0 no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payme-content {
    width: 800px;
    margin: 0 auto;
    padding: 0 40px;

    @media (--tablet) {
        width: 100%;
    }

    &.is-hidden {
        transform: scale(0);
        height: 0;
        visibility: hidden;
    }
}

.form_promo {
    @mixin clear-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #00E0FF;
    margin-bottom: 70px;
}

.form-promo_item {
    text-align: center;

    &.is-current {
        position: relative;
        z-index: 2;
        color: $white;

        &::after {
            content: '';
            background: inline('../img/promo.svg') 0 0 no-repeat;
            background-size: contain;
            size: 150px;
            position: absolute;
            left: -23px;
            top: -33px;
            z-index: -1;

            @media (--phone) {
                size: 100px;
                top: -18px;
                left: -16px;
            }
            @media (--small-phone) {
                size: 90px;
                top: -12px;
                left: -10px;
            }
        }
    }

    &.is-invert {
        color: $white;
    }
}

.payment {
    padding: 0 40px;
}

.form_payment {
    padding: 35px 50px 40px 50px;
    width: 620px;
    margin: 0 auto 70px;
    background-color: #D9EEF5;

    @media (--phone) {
        width: 100%;
    }
}

.form_legend {
    margin: 0 0 25px;
    font-weight: 300;
    font-size: 22px;
}

.form_row {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;

    @media (--tablet) {
        flex-direction: column;
    }

    &.is-money {
        text-align: center;
        margin-top: 70px;
        position: relative;
    }

    &.is-radio-list {
        /* flex-direction: column; */
    }
}

.form-row_radio {
    margin-bottom: 7px;
    display: inline-block;
    min-width: 100px;
}

.form_label {
    margin-left: 6px;
    color: $white;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px 16px;
    transition: background-color .05;

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }
}

.form-elem {

    &.is-veryfied {
        size: size('../img/verified.png');
        background: inline('../img/verified.png') 0 0 no-repeat;
        margin: 15px auto 0;
    }

    &.is-money {
        size: size('../img/money-low.png');
        background: inline('../img/money-low.png') 0 0 no-repeat;
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -98px;
        z-index: 0;
        transition: top 300ms;
    }
}

.form_container {
    width: 100%;
    position: relative;

    &.is-half {
        width: 48%;

        @media (--tablet) {
            width: 100%;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.is-success {
        &::after {
            content: '';
            background: inline('../img/i-form-success.png') 0 0 no-repeat;
            size: size('../img/i-form-success.png');
            position: absolute;
            right: 24px;
            top: 20px;
        }
    }
}

.form_comm {
    font-size: 14px;
    color: $astronaut;
    display: block;
    padding-left: 25px;
    padding-top: 10px;
}

.form_field,
.styled-input {
    border: 4px solid $white;
    background-color: $white;
    text-indent: 25px;
    size: 100% 60px;
    color: $black;
    border-radius: 10px;
    transition: border-color 300ms;

    &::placeholder {
        color: #8B8B8B;
    }

    &:focus {
        border-color: color(#00E0FF shade(10%));
        outline: none;
    }

    &.is-textarea {
        min-height: 120px;
        padding-top: 10px;
        padding-left: 25px;
        text-indent: 0;
    }

    &.is-error {
        border-color: color(#FC0000 shade(10%));
        color: #FC0000;
    }
}

.message-error {
    font-size: 14px;
    color: #FC0000;
    display: block;
    padding-left: 25px;
    padding-top: 10px;
}

.mc-field-group {
    margin-bottom: 30px;
}
.input-message {
    font-size: 16px;
}

.form_text {
    color: $white;
    font-size: 20px;
    text-align: center;
}

.form-text_title {
    margin-right: 20px;
}

.form-text_info {
    margin-bottom: 60px;

    &:last-of-type {
        margin-bottom: 0;
    }

    p {
        margin: 0 0 10px;
    }
}

.form-text_icon {

    &.is-popcorn {
        background: inline('../img/popcorn.svg') 0 0 no-repeat;
        background-size: contain;
        size: 100px 150px;
        margin: 0 auto;
    }
}