<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Event" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>

    <title>Landing page title</title>

    <meta name="keywords" content="Переезд в Калифорнию, работа в калифорнии, работа в сан франциско, виза в штаты, виза в америке"/>
    <meta name="description" content="Как сэкономить минимум $1000, много времени и нервов, как найти работу, легализоваться и влиться в комьюнити" />

    <% allcss.forEach(function(css){ %>
        <link rel="stylesheet" href="./<%= css %>">
    <% }); %>
    
</head>
<body>
<div class="page">
    <% include ../1-header-module/header %>
    <% include ../2-details-module/details %> 
    <% include ../3-features-module/features %>
    <% include ../4-reviews-module/reviews %>
    <% include ../5-authors-module/authors %>
    <!--<% include ../6-payment-module/payment %>
    <% include ../7-footer-module/footer %>-->
</div>    
</body>
</html>
