<section class="structure page_section">
        <div class="structure-content">
            <h2 class="section_title is-blue">Структура курса</h2>
            <ul class="structure_list">
                <li class="structure_item">
                    <div class="structure_img is-prepare"></div>
                    <h4 class="structure_title">Как подготовиться</h4>
                    <div class="structure_text">Что сделать до вылета, какие вещи взять с собой, какая страховка подойдет, какой транспорт из аэропорта выбрать (не убер).</div>
                </li>
                <li class="structure_item">
                    <div class="structure_img is-bus"></div>
                    <h4 class="structure_title">Первые дни</h4>
                    <div class="structure_text">Как найти дешевое жильё на первые дни, купить сим-карту, где покупать еду, на чем передвигаться по долине</div>
                </li>
                <li class="structure_item">
                    <div class="structure_img is-month"></div>
                    <h4 class="structure_title">Первый месяц</h4>
                    <div class="structure_text">В каком городе жить, как оптимизировать бюджет на месяц, найти жильё без SSN, открыть счёт в банке и начать делать кредитную историю</div>
                </li>
                <li class="structure_item">
                    <div class="structure_img is-passport"></div>
                    <h4 class="structure_title">Получить визу</h4>
                    <div class="structure_text">Какой тип визы вам подойдет, как договориться с адвокатом, как быстро собрать нужные документы и подать заявку</div>
                </li>
                <li class="structure_item">
                    <div class="structure_img is-job"></div>
                    <h4 class="structure_title">Найти работу</h4>
                    <div class="structure_text">Как собрать инвайты на интервью, построить отношения с компаниями, не облажаться на пяти интервью подряд, обсудить визу и составить контракт</div>
                </li>
                <li class="structure_item">
                    <div class="structure_img is-network"></div>
                    <h4 class="structure_title">Построить нетворк</h4>
                    <div class="structure_text">Запланировать по несколько встреч в неделю, выбрать подходящие митапы, идти за помощью к подходящим людям.</div>
                </li>
            </ul>
        </div>
    </section>