@import '../../../lib/styles/normalize.css'; 

@font-face {
    font-family: 'Museo Sans 900';
    src: url('../fonts/museosanscyrl_3.woff2') format('woff2'),
         url('../fonts/museosanscyrl_3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@custom-media --tablet (width <= 860px);
@custom-media --phone (width <= 650px);
@custom-media --small-phone (width <= 400px);

$black: #000;
$white: #fff;
$astronaut: #004675;
$orange: #FF5600;

$base-font: 'Open Sans', Helvetica, Arial, sans-serif;
$title-font: 'Museo Sans 900', $base-font;

@define-mixin clear-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@define-mixin content {
    width: 85%;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.num {
    font-size: 58px;
    line-height: 1;

    &.is-infin {
        font-size: 80px;
        font-weight: 300;
        margin-top: -14px;
        line-height: .9;
    }

    @media (--phone) {
        font-size: 40px;

        &.is-infin {
            font-size: 62px;
        }
    }
}

.link {
    color: $astronaut;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: border-bottom-color 300ms;

    &:hover {
        border-bottom-color: transparent;
    }
}

.page {
    color: $black;
    font: 400 16px/24px $base-font;
}

.page_section {
    min-height: 100vh;
    width: 100%;
    padding: 85px 0;
    display: flex;
    align-items: center;

    &.reports {
        padding-bottom: 40px;
    }

    @media (--phone) {
        padding: 45px 0 40px;
    }
}

.section_title {
    text-align: center;
    font: 900 36px $title-font;
    margin: 0 0 45px;

    &.is-blue {
        color: $astronaut;
    }
    &.is-invert {
        color: $white;
    }
}

.promo {
    background: #d7ebf5 url(../img/bg-promo.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    size: 100% 100vh;
    max-height: 840px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;

    @media (height <= 840px) {
        height: 100%;
    }

    @media (--tablet) {
        background-size: 0 0;
    }
}

.promo-content {
    width: 50%;
    min-width: 640px;
    padding-right: 40px;
    align-self: flex-end;

    @media (--tablet) {
        width: 100%;
        min-width: 100%;
        padding: 0 40px;
        text-align: center;
    }
}

.promo_top-title {
    font: 900 16px $base-font;
    text-transform: uppercase;
    margin-bottom: 35px;
    letter-spacing: 2px;
}

.promo_title {
    font: 400 32px/40px $title-font;
    margin: 0 0 20px;
    padding-left: 20px;
    position: relative;
    z-index: 2;

    @media (--tablet) {
        text-shadow: 0 1px 1px $white.8;
        padding-left: 0;
    }

    &:after {
        content: '';
        position: absolute;
        top: -23px;
        right: 150px;
        z-index: -1;
        background: inline('../img/bear.svg') 0 0 no-repeat;
        size: 72px 36px;

        @media (--phone) {
            display: none;
        }
    }
}

.promo_descr {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 50px;
    padding-left: 20px;

    @media (--tablet) {
        text-shadow: 0 1px 1px $white.8;
        padding-left: 0;
    }
}

.promo_info {
    @mixin clear-list;
    display: flex;
    margin-bottom: 60px;

    @media (--tablet) {
        justify-content: center;
    }

    @media (--phone) {
        flex-direction: column;
    }
}

.promo-info_item {
    margin-right: 40px;
    padding-left: 100px;
    position: relative;

    &:last-child {
        margin-right: 0;
    }

    &.is-date:before,
    &.is-ticket:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
    }

    &.is-date:before {
        background-image: inline('../img/i-calendar.svg');
        background-size: contain;
        size: size('../img/i-calendar.svg');
    }
    &.is-ticket:before {
        background-image: inline('../img/i-plan.svg');
        background-size: contain;
        size: size('../img/i-plan.svg');
        left: 20px;

        @media (--phone) {
            left: 7px;
        }
    }

    @media (--phone) {
        margin-bottom: 30px;
        text-align: left;
    }
}

.promo-info_data {
    color: $astronaut;
    font-size: 20px;
    text-align: center;
    width: 100px;
    display: inline-block;

    @media (--phone) {
        padding-top: 13px;
    }

    &.is-sold {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            z-index: 2;
            size: size('../img/sold.svg');
            background: inline('../img/sold.svg') 0 0 no-repeat;
            background-size: contain;
        }
    }
}

.promo-button_container {
    margin-left: 20px;

    @media (--tablet) {
        margin-left: 0;
    }
}

.button {
    text-decoration: none;
    border: 0;
    height: 75px;
    text-align: center;
    margin: 0 auto;
    color: $white;
    font: 900 26px/73px $base-font;
    background-color: $orange;
    border-radius: 10px;
    padding: 0 45px;
    display: inline-block;
    transition: background-color 200ms;

    &:hover {
        background-color: color($orange shade(12%));
    }

    &:focus {
        outline: none;
        transform: scale(.98);
        transition: transform .05;
    }

    .is-money & {
        position: relative;
        z-index: 2;

        &:hover + .is-money {
            top: -40px;
        }
    }
}

.info-content {
    @mixin content;
    display: flex;
    justify-content: space-between;

    @media (--tablet) {
        flex-direction: column;
    }
}

.info_text {
    width: 700px;
    padding-right: 40px;

    @media (--tablet) {
        order: 2;
        width: 100%;
    }
}

.info-text_par {
    margin: 0 0 20px;
    line-height: 28px;
}

.info_short-list {
    width: 300px;
    @mixin clear-list;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (--tablet) {
        flex-direction: row;
        order: 1;
        width: 100%;
        margin-bottom: 40px;
    }

    @media (--phone) {
        flex-wrap: wrap;
    }
}

.info-short-list_item {
    background: inline('../img/i-tick.svg') 0 center no-repeat;
    background-size: contain;
    padding: 0 0 0 20px;
    size: 214px 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (--tablet) {
        &:first-child {
            padding: 0;
        }
    }

    @media (--phone) {
        background: none;
        padding: 0 20px 0 0;
        height: auto;
        margin-bottom: 20px;

        &:last-child {
            padding: 0;
        }
    }
}

.info-short-list_title {
    color: $orange;
    margin: 0;
    font-size: 28px;
    font-weight: 900;
    line-height: 26px;
    margin-bottom: 7px;
}

.structure {
    background-color: #eaf8ff;
}

.structure-content {
    @mixin content;
}

.structure_list {
    @mixin clear-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (--tablet) {
        flex-direction: column;
    }
}

.structure_item {
    width: 32%;
    text-align: center;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (--tablet) {
        width: 100% !important;
        padding: 0;
    }
}

.structure_img {
    size: 162px 164px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto 20px;

    &.is-prepare {
        background-image: inline('../img/i-bag.svg');
    }
    &.is-bus {
        background-image: inline('../img/i-bus.svg');
    }
    &.is-month {
        background-image: inline('../img/i-map.svg');
    }
    &.is-passport {
        background-image: inline('../img/i-visa.svg');
    }
    &.is-job {
        background-image: inline('../img/i-work.svg');
    }
    &.is-network {
        background-image: inline('../img/i-network.svg');
    }
}

.structure_title {
    font-size: 20px;
    margin: 0 0 10px;
}

.reports {
    border-bottom: 4px dashed #F4F4F4;
}

.reports-content {
    @mixin content;
}

.reports_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (--tablet) {
        justify-content: center;

        &:after {
            display: none;
        }
    }
}

.report {
    width: 49%;
    margin-bottom: 40px;

    @media (--tablet) {
        width: 100%;
    }
}

.report_text {
    border: 5px solid #eef9ff;
    padding: 30px 30px 35px 25px;
    font-style: italic;
    margin-bottom: 50px;
    position: relative;

    &::before {
        content: '';
        width: 0;
        height: 0;
        border-top: 42px solid #eef9ff;
        border-right: 45px solid transparent;
        position: absolute;
        bottom: -46px;
        left: 36px;
        z-index: 2;
    }

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-top: 37px solid $white;
        border-right: 40px solid transparent;
        position: absolute;
        bottom: -37px;
        left: 40px;
        z-index: 3;
    }
}

.report-author_link {
    text-decoration: none;
}

.report-author_foto {
    display: inline-block;
    vertical-align: middle;
    size: 80px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 10px;
    background-size: contain !important;

    &.is-sivura {
        background: inline('../img/foto-sivura.png') 0 0 no-repeat;
    }
    &.is-korshunov {
        background: inline('../img/foto-korshunov.png') 0 0 no-repeat;
    }
    &.is-anon {
        background: inline('../img/foto-anon.jpg') 0 0 no-repeat;
    }
    &.is-guvakova {
        background: inline('../img/foto-guvakova.jpg') 0 0 no-repeat;
    }
    &.is-grishanin {
        background: inline('../img/foto-grishanin.jpg') 0 0 no-repeat;
    }
    &.is-silachev {
        background: inline('../img/foto-silachev.jpg') 0 0 no-repeat;
    }
    &.is-evseev {
        background: inline('../img/foto-evseev.jpg') 0 0 no-repeat;
    }
    &.is-karpov {
        background: inline('../img/foto-karpov.jpg') 0 0 no-repeat;
    }
}

.report-author_name {
    border-bottom: 1px solid $astronaut.5;
    font-size: 20px;
    font-weight: 900;
    color: $astronaut;
    display: inline-block;
    vertical-align: middle;
    transition: border-bottom-color 300ms;

    .report-author_link:hover & {
        border-bottom-color: transparent;
    }

    .is-anon & {
        color: $black;
        border-color: transparent;
        pointer-events: none;
    }
}

.masters {
    position: relative;

    &.is-shark {

        &:after {
            content: '';
            position: absolute;
            bottom: -30px;
            left: 15%;
            z-index: -1;
            background: inline('../img/shark.svg') 0 0 no-repeat;
            size: 120px 80px;
        }
    }
}

.masters-content {
    @mixin content;
}

.masters_list {
    @mixin clear-list;
    display: flex;
    flex-wrap: wrap;
}

.master {
    width: 33%;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 40px;

    @media (--tablet) {
        width: 100%;
        margin-bottom: 60px;
    }
}

.master_link {
    text-decoration: none;
    display: block;
}

.master_foto {
    display: block;
    margin: 0 auto 35px;
    size: 200px;
    border-radius: 50%;

    &.is-nat {
        background: inline('../img/foto-nat.jpg') 0 0 no-repeat;
        background-size: contain;
    }
    &.is-eisenberg {
        background: inline('../img/foto-eizenberg.jpg') 0 0 no-repeat;
        background-size: contain;
    }
    &.is-gilevskaya {
        background: inline('../img/foto-gilevskaya.jpg') 0 0 no-repeat;
        background-size: contain;
    }
}

.master_name {
    border-bottom: 1px solid $astronaut.5;
    font-weight: 900;
    color: $astronaut;
    transition: border-bottom-color 300ms;

    .master_link:hover & {
        border-bottom-color: transparent;
    }
}

.master_info {
    margin-top: 20px;

    a {
        text-decoration: none;
        color: $astronaut;
    }
}

.payme {
    background: inline('../img/bg-form.png') 0 0 no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payme-content {
    width: 800px;
    margin: 0 auto;
    padding: 0 40px;

    @media (--tablet) {
        width: 100%;
    }

    &.is-hidden {
        transform: scale(0);
        height: 0;
        visibility: hidden;
    }
}

.form_promo {
    @mixin clear-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #00E0FF;
    margin-bottom: 70px;
}

.form-promo_item {
    text-align: center;

    &.is-current {
        position: relative;
        z-index: 2;
        color: $white;

        &::after {
            content: '';
            background: inline('../img/promo.svg') 0 0 no-repeat;
            background-size: contain;
            size: 150px;
            position: absolute;
            left: -23px;
            top: -33px;
            z-index: -1;

            @media (--phone) {
                size: 100px;
                top: -18px;
                left: -16px;
            }
            @media (--small-phone) {
                size: 90px;
                top: -12px;
                left: -10px;
            }
        }
    }

    &.is-invert {
        color: $white;
    }
}

.payment {
    padding: 0 40px;
}

.form_payment {
    padding: 35px 50px 40px 50px;
    width: 620px;
    margin: 0 auto 70px;
    background-color: #D9EEF5;

    @media (--phone) {
        width: 100%;
    }
}

.form_legend {
    margin: 0 0 25px;
    font-weight: 300;
    font-size: 22px;
}

.form_row {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;

    @media (--tablet) {
        flex-direction: column;
    }

    &.is-money {
        text-align: center;
        margin-top: 70px;
        position: relative;
    }

    &.is-radio-list {
        /* flex-direction: column; */
    }
}

.form-row_radio {
    margin-bottom: 7px;
    display: inline-block;
    min-width: 100px;
}

.form_label {
    margin-left: 6px;
    color: $white;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px 16px;
    transition: background-color .05;

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }
}

.form-elem {

    &.is-veryfied {
        size: size('../img/verified.png');
        background: inline('../img/verified.png') 0 0 no-repeat;
        margin: 15px auto 0;
    }

    &.is-money {
        size: size('../img/money-low.png');
        background: inline('../img/money-low.png') 0 0 no-repeat;
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -98px;
        z-index: 0;
        transition: top 300ms;
    }
}

.form_container {
    width: 100%;
    position: relative;

    &.is-half {
        width: 48%;

        @media (--tablet) {
            width: 100%;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.is-success {
        &::after {
            content: '';
            background: inline('../img/i-form-success.png') 0 0 no-repeat;
            size: size('../img/i-form-success.png');
            position: absolute;
            right: 24px;
            top: 20px;
        }
    }
}

.form_comm {
    font-size: 14px;
    color: $astronaut;
    display: block;
    padding-left: 25px;
    padding-top: 10px;
}

.form_field,
.styled-input {
    border: 4px solid $white;
    background-color: $white;
    text-indent: 25px;
    size: 100% 60px;
    color: $black;
    border-radius: 10px;
    transition: border-color 300ms;

    &::placeholder {
        color: #8B8B8B;
    }

    &:focus {
        border-color: color(#00E0FF shade(10%));
        outline: none;
    }

    &.is-textarea {
        min-height: 120px;
        padding-top: 10px;
        padding-left: 25px;
        text-indent: 0;
    }

    &.is-error {
        border-color: color(#FC0000 shade(10%));
        color: #FC0000;
    }
}

.message-error {
    font-size: 14px;
    color: #FC0000;
    display: block;
    padding-left: 25px;
    padding-top: 10px;
}

.mc-field-group {
    margin-bottom: 30px;
}
.input-message {
    font-size: 16px;
}

.form_text {
    color: $white;
    font-size: 20px;
    text-align: center;
}

.form-text_title {
    margin-right: 20px;
}

.form-text_info {
    margin-bottom: 60px;

    &:last-of-type {
        margin-bottom: 0;
    }

    p {
        margin: 0 0 10px;
    }
}

.form-text_icon {

    &.is-popcorn {
        background: inline('../img/popcorn.svg') 0 0 no-repeat;
        background-size: contain;
        size: 100px 150px;
        margin: 0 auto;
    }
}

.footer {
    height: 100px;
    display: flex;
    align-items: center;

    @media (--tablet) {
        height: auto;
        padding: 20px 0 10px;
    }
}

.footer-content {
    @mixin content;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (--phone) {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 15px;
    }
}

.footer_list {
    @mixin clear-list;
    display: flex;
}

.footer_item {
    margin-right: 25px;

    @media (--tablet) {
        font-size: 14px;
    }
}

.socials {
    @mixin clear-list;
    display: flex;
    justify-content: center;

    @media (--tablet) {
        flex-direction: column;
    }

    @media (--phone) {
        flex-direction: row;
        margin-top: 20px;
    }
}

.social {
    margin-right: 20px;
    line-height: 1;

    @media (--tablet) {
        margin-right: 0;
        margin-bottom: 20px;
    }
    @media (--phone) {
        margin-right: 20px;
    }
}
.social_link {
    display: block;
    text-decoration: none;

    &.is-fb {
        size: 20px 40px;
        background: inline('../img/i-fb.svg') 0 0 no-repeat;
    }
    &.is-twi {
        size: 35px 30px;
        background: inline('../img/i-twi.svg') 0 0 no-repeat;
    }
    &.is-vk {
        size: 35px 30px;
        background: inline('../img/i-vk.svg') 0 0 no-repeat;
    }
}

.footer-payment {
    @mixin clear-list;
    display: flex;
    align-items: center;

    @media (--tablet) {
        flex-direction: column;
    }

    @media (--phone) {
        flex-direction: row;
    }
}

.footer-payment_item {
    margin-right: 20px;

    @media (--tablet) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.footer-payment_img {
    size: 56px 37px;

    @media (--tablet) {
        size: 40px 21px;
    }

    &.is-visa {
        background: inline('../img/visa.svg') 0 0 no-repeat;
        background-size: contain;
    }
    &.is-mcard {
        background: inline('../img/mcard.svg') 0 0 no-repeat;
        background-size: contain;
    }
}
