<footer class="footer">
    <div class="footer-content">
        <ul class="footer_list">
            <li class="footer_item"><a href="/assets/offer.pdf" class="link">Оферта</a></li>
            <li class="footer_item"><a href="/assets/terms.pdf" class="link">Правила оплаты</a></li>
            <li class="footer_item"><a href="mailto:howto@californicate.ru" class="link">howto@californicate.ru</a></li>
        </ul>
        <div class="is-social">
            <ul class="socials">
                <li class="social">
                    <div class="fb-share-button" data-layout="button_count" data-href="https://californicate.ru"></div>
                </li>
                <li class="social"><script type="text/javascript">document.write(VK.Share.button("https://californicate.ru"));</script></li>
                <li class="social">
                    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-lang="ru" data-url="https://californicate.ru">Твитнуть</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </li>
            </ul>
        </div>
        <ul class="footer-payment">
            <li class="footer-payment_item">
                <div class="footer-payment_img is-visa"></div>
            </li>
            <li class="footer-payment_item">
                <div class="footer-payment_img is-mcard"></div>
            </li>
        </ul>
    </div>
</footer>