<section class="info page_section">
        <div class="info-content">
            <div class="info_text">
                <p class="info-text_par">
                    Четыре месяца назад мы переехали в Калифорнию. С собой были рюкзак вещей, несколько тысяч и обратный билет, который скоро пришлось отменить. Мы получаем визы, сняли дом, занимаемся любимым делом и растем над собой.
                </p>
                <p class="info-text_par">
                    Нас часто спрашивают, как начать переезд, как решиться, что сделать, чтобы всё получилось. Мы собрали вебинар, который поможет запланировать, подготовиться к переезду и быстро освоиться на месте. Он пригодится тем, кто только что переехал, задумал переезд или ещё сомневается.
                </p>
                <p class="info-text_par">
                    Обсудим, что сделать до вылета, как найти жильё на первое время, на чём сэкономить, как получить визу, познакомиться с нужными местными, найти работу, завести кредитную историю и снять дом.
                </p>
                <p class="info-text_par">
                    После курса вы получите pdf с инструкциями и доступ к Slack участников курса и тех, кто уже переехал и готов помогать.
                </p>
            </div>
            <ul class="info_short-list">
                <li class="info-short-list_item">
                    <h3 class="info-short-list_title">1,5 месяца</h3>
                    <div class="info-short-list_text">на получение резидентской визы</div>
                </li>
                <li class="info-short-list_item">
                    <h3 class="info-short-list_title">3 недели</h3>
                    <div class="info-short-list_text">на поиск работы</div>
                </li>
                <li class="info-short-list_item">
                    <h3 class="info-short-list_title">$2000 в месяц</h3>
                    <div class="info-short-list_text">ваш бюджет на жизнь</div>
                </li>
            </ul>
        </div>
    </section>