<section class="promo">
    <div class="promo-content">
        <div class="promo_top-title">запись вебинара</div>
        <h1 class="promo_title">How to create awesome landing pages fast — Start Kit</h1>
        <div class="promo_descr">
        Расскажем как сэкономить минимум $1000, много времени и нервов, как найти работу, легализоваться и влиться в комьюнити
        </div>
        <ul class="promo_info">
            <li class="promo-info_item is-date">
                <div class="promo-info_data is-sold">
                    <div class="num">24</div>
                    января
                </div>
                <div class="promo-info_data is-sold">
                    <div class="num">6</div>
                    февраля
                </div>
            </li>
            <li class="promo-info_item is-ticket">
                <div class="promo-info_data">
                    <div class="num">50</div>
                    мест
                </div>
            </li>
        </ul>
        <div class="promo-button_container">
            <a href="#form" class="button is-promo">Скачать и посмотреть</a>
        </div>
    </div>
</section>